
div {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  border: green solid 2px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}


/* 
-----------------------------
flex-direction: row;


row | row-reverse | column | column-reverse; */

-----------------------------
/* 
flex-wrap: wrap-reverse;
ult

nowrap | wrap | wrap-reverse; */
-----------------------------